* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

body {
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}

.menu {
    border-radius: 0 0 50px 50px;
    position: fixed;
    background-color: rgb(52, 52, 131);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;



}

.menu ul {
    margin: 0px 10px 10px 0;
    font-size: 50px;
    list-style-type: none;
    width: fit-content;
    float: left;
    height: 50px;
    padding-left: 10PX;
    padding-top: 5px;
    gap: 4rem;
    position: absolute;
    display: flex;
    justify-items: left;



}

.menu a {
    margin-top: 10PX;
    font-size: 20px;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu a::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    width: 0;
    height: 2px;
    margin-bottom: 3px;
    background-color: rgb(255, 255, 255);
    bottom: 0;


}

.menu a:hover::before {
    width: 100%;
    transition: 0.5s;
    background-color: rgb(255, 253, 253);

}

section {
    margin: 0 0 0 15%;
    width: 70%;
    height: 100%;
}

.section h1 {

    color: black;
    width: 90%;
    margin: 0 5% 0 5%;
    background-image: none;
    text-align: center;
}

.section p {

    text-align: justify;
    margin: 0 15% 0 15%;
    font-size: 15px;
}

.section img {

    border-radius: 5px;
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    height: auto;
}

.fish-list {
    ;
}

.fish-list img {
    display: grid;
    margin: 0 15% 0 15%;
    width: 70%;
    height: auto;
}

aside {
    margin-left: 5px;
    padding-top: 2px;
    display: grid;
    position: fixed;
    margin-top: 190px;
    width: 50px;
    height: 330px;
}

.fish-list ol {
    list-style: none;
    list-style-position: inside;
    font-size: 15px;
    text-align: center;
    align-items: center;

}

.fish-list li {
    padding: 5px;
    border-radius: 20px;
    border-style: ridge;
    background-color: rgb(52, 52, 131);
    width: fit-content;
    color: white;
    margin: auto;
}


.fa-youtube {
    transform: translate(0px);
    animation: float 1s ease-in-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    width: 50px;
    height: 50px;
    background-color: #c4302b;
    color: white;

}

.fa-whatsapp {
    transform: translate(0px);
    animation: float 1s ease-in-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    cursor: pointer;
    width: fit-content;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    color: white;

}

.fa-pinterest-p {
    transform: translate(0px);
    animation: float 1s ease-in-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    width: fit-content;
    width: 50px;
    height: 50px;
    background-color: #c8232c;
    cursor: pointer;
    color: white;
}

.fa-facebook-f {
    transform: translate(0px);
    animation: facebook 1s ease-in-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 50px;
    height: 50px;
    background-color: #3b5998;
    cursor: pointer;
    color: white;
}

.fa-linkedin-in {
    transform: translate(0px);
    animation: 1s ease-in-out both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 50px;
    height: 50px;
    background-color: #0072b1;
    color: white;
}

@keyframes {
    0% {
        transform: translatex(0px);
    }

    50% {
        transform: translatex(20px);
    }

    100% {
        transform: translatex(0px);
    }
}

.fa-youtube:hover {
    transform: scale(1.1);
}

.fa-linkedin-in:hover {
    transform: scale(1.1);
}

.fa-facebook-f:hover {
    transform: scale(1.1);
}

.fa-pinterest-p:hover {
    transform: scale(1.1);
}

.fa-whatsapp:hover {
    transform: scale(1.1);
}


.redes-sociais {
    display: flex;
    gap: 2rem;
}

.fa-youtube,
.fa-linkedin-in,
.fa-facebook-f,
.fa-whatsapp,
.fa-pinterest-p {
    width: 50px;
    border-radius: 50px;
}

footer {
    border-top: solid 1px black;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(52, 52, 131);
    ;
    width: 100%;
    height: 130px;
}


a {
    text-decoration: none;
}

@media (max-width: 914px) {

    section {
        width: 100%;
        margin: 0;
    }

    .section p {
        text-align: justify;
        margin: 0 5% 0 5%;
        font-size: 15px;
    }

    .section img {
        border-radius: 5px;
        display: flex;
        width: 90%;
        height: auto;
        margin: 0 5% 0 5%;

    }

    .redes-sociais {
        display: flex;
        grid-template-columns: auto;
        position: absolute;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        background-color: white;

        width: 100%;
        height: 130px;

    }

    aside {
        display: none;
    }
}

@media (min-width: 914px) {
    footer .redes-sociais {
        display: none;
    }
}