* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}


body .right {
    margin: 60px 0 0 85%;
    position: fixed;
    background-color: blue;
    width: 15%;
    height: 100vh;
}

.info-curiosity {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 50vh;
    background-color: transparent;
}

.info-curiosity h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-size: 100%;
}

body .left {
    margin: 60px 0 0 0;
    position: fixed;
    background-color: blue;
    width: 15%;
    height: 100%;
}

.menu {
    position: fixed;
    background-image: url(./BAckground/29143.jpg);
    background-color: rgb(52, 52, 131);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;



}

header {
    position: fixed;
    background-color: rgb(52, 52, 131);
    margin-top: 0px;
    width: 100%;
    height: 80px;
}




.menu ul {
    margin: 0px 10px 10px 0;

    font-size: 50px;
    list-style-type: none;
    width: fit-content;
    float: left;
    height: 50px;
    padding-left: 10PX;
    padding-top: 5px;
    gap: 4rem;
    position: absolute;
    display: flex;
    justify-items: left;



}

.menu a {

    font-size: 40%;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    width: 0;
    height: 4px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    bottom: 0;


}

a:hover::before {
    width: 100%;
    transition: 0.5s;
    background-color: rgb(255, 253, 253);

}

section {
    margin: 0 0 0 15%;
    background-color: green;
    width: 70%;
    height: 100%;
}

.section h1 {
    color: white;
    width: 90%;
    margin: 0 5% 0 5%;
    background-image: url(./BAckground/29143.jpg);
    text-align: center;
}

.section p {

    text-align: justify;
    margin: 0 15% 0 15%;
    font-size: 15px;
}

.section img {

    border-radius: 5px;
    display: flex;
    width: 80%;
    margin: 0 10% 0 10%;
    height: auto;
}

.fish-list {
    background-color: red;
}

.fish-list img {
    display: grid;
    margin: 0 15% 0 15%;
    width: 70%;
    height: auto;
}

.fish-list ol {
    list-style: none;
    list-style-position: inside;
    font-size: 15px;
    text-align: center;
    align-items: center;

}

.fish-list li {
    border-radius: 5px;
    background-image: url(./BAckground/29143.jpg);
    width: fit-content;
    color: white;
    margin: auto;
}

.logo {
    width: 400px;
    height: 90px;
    position: absolute;
    background-color: white;
}

.fa-youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 70px;
    height: 20px;
    background-color: #c4302b;
    color: white;

}

.fa-whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 70px;
    height: 20px;
    background-color: #25d366;
    color: white;

}

.fa-pinterest-p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 70px;
    height: 20px;
    background-color: #c8232c;
    cursor: pointer;
    color: white;
}

.fa-facebook-f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 70px;
    height: 20px;
    background-color: #3b5998;
    cursor: pointer;
    color: white;
}

.fa-linkedin-in {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5PX 0 5px;
    cursor: pointer;
    width: fit-content;
    width: 70px;
    height: 20px;
    background-color: #0072b1;
    color: white;
}

.fa-linkedin-in:hover {
    transform: scale(1.1);

}

footer {

    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(52, 52, 131);

    width: 100%;
    height: 130px;
}

.redes-sociais {
    place-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    width: 100%;
    height: 50px;
}

a {
    text-decoration: none;
}

@media (min-width: 500px) {
    body .left {
        display: none;
    }

    body .right {
        display: none;
    }

    section {
        width: 100%;
        margin: 0;
    }

    .section p {
        text-align: justify;
        margin: 0 5% 0 5%;
        font-size: 15px;
    }

    .section img {
        border-radius: 5px;
        display: flex;
        width: 90%;
        height: auto;
        margin: 0 5% 0 5%;
        
    }
}